form.main{
	@include respond-to(phone) {
		.fields .input-field{
			min-height: 120px;
			height: initial;
			@include clearfix;
			&.w1,&.w2{
				float: initial;
				width: 100%;
				padding: 15px 30px;
			}
			&.w2+.w2{
				padding: 15px 30px;
			}
			label{
				line-height: 20px;
			}
		}
		&.re .actions{
			.left,.right{
				float: initial;
				width: 100%;
				margin: 10px auto;
			}
			.left{
				text-align: center;
			}
			.right{
				.action{
					float: initial;
					width: 100%;
					padding: 15px 30px;
					text-align: left;
				}
			}
		}
	}
	.fields{
		@include clearfix;
		margin-top: 50px;
		margin-bottom: 40px;
	}
	.actions{
		color: $white;
		@include clearfix;
		.left,.right{
			@extend .float-left;
			width: 50%;
		}
		.right{
			@include clearfix;
		}
		.action{
			@extend .float-left;
			color: $white;
			display: inline-block;
			width: 50%;
			font-size: 17px;
			line-height: 20px;
			padding: 10px;
			box-sizing: border-box;
			&:nth-child(2n){
				text-align: right;
				padding-right: 0px;
			}
			&:hover{
				color: $select;
			}
		}
	}
	.input-field{
		@extend .float-left;
		box-sizing: border-box;
		height: 100px;
		&.w1{
			width: 100%;
		}
		&.w2{
			width: 50%;
			padding-right: 5px;
			&+.w2{
				padding-right: 0px;
				padding-left: 5px;
			}
		}
		label{
			text-transform: uppercase;
			color: $white;
			font-size: 14px;
			letter-spacing: 1px;
			line-height: 14px;
			display: block;
			&:after{
				content: ':'
			}
		}
		input{
			border: none;

			box-sizing: border-box;
			font-size: 18px;
			padding: 15px 15px;
			margin-top: 10px;
			width: 100%;
		}
	}
}