mixin form(fields, actions)
	form.main
		.fields
			each field in fields
				div(class="input-field w" +  field.width)
					label #{field.label}
					input(type='text', value='my supper text')
		.actions
			.left
				a(class='btns standart text', href='#') отправить заявку
			.right
				each action in actions
					a(class='action', href=action.href)  #{action.text}