section.partners{
	@include respond-to(phone) {
		.container{
			width: 100%;
			.row{
				width: 100%;
				.element{
					width: 50%;
					img{
						max-width: 90%;
					}
				}
			}
		}
	}
	@include respond-to(tablet) {
		$w-p: $screen-tablet;
		.container{
			.row{
				margin: 30px auto;
				width: $w-p;
				.element{
					width: $w-p/4;
					height: $w-p/4;
				}
			}
		}
	}
	@include respond-to(md-min) {
		$w-p: $screen-md-min - $container_paddin * 2;
		.container{
			.row{
				margin: 0 auto;
				width: $w-p;
				.element{
					width: $w-p/4;
					height: $w-p/4;
				}
			}
		}
	}
	.container{
		padding-top: 80px;
	}
	.row{
		@include clearfix;
		width: $partners_width;
		margin-top: 40px;
		.element{
			@extend .float-left;
			width: $partners_element_width;
			display: block;
			overflow: hidden;
			height: 150px;
			text-align: center;
		}
	}
}