section.main-baner.full
	.bg.paralax
		img(src='/images/preload/main-baner.jpg')
	.container
		.left
			svg(
				version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" 
				xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 			viewBox="20 116.1 389 234" 
	 			style="enable-background:new 20 116.1 389 234;" 
	 			xml:space="preserve"
				)
				use(
						xlink:href="#text-logo"
					)
		.right
			a(class='btns standart text', href='#') купить билет 
			.date
				each d in [27,28,29]
					span.day=d
				span.month МАЙ
				span.year 2016
			include ../../../images/top-right-logo.svg 