section.description.full
	.bg
		img(src='/images/description-bg-pre.jpg')
	.container
		.left
			h1 Что?
			p Московская Тату Конвенция - это уникальное мероприятие, которое  собирает лучших российских и зарубежных мастеров, представителей тату индустрии и смежных субкультур на одной площадке.
			h1 Для чего?
			p Посмотрите вокруг: музыка, искусство, кино, спорт, мода, - все это невозможно представить или отделить от тату-культуры. И показать это - одна из задач Тату Конвенции.
			h1 Где и когда?
			p Международная Московская Тату Конвенция пройдет 27 28 и 29 мая 2016 года в Сокольниках, 
				a(href='#') в павильоне №4
			.time
				p.upper-title Время работы конвенции:
				span 27 мая | 14:00 - 24:00
				span 28 мая | 12:00 - 24:00
				span 29 мая | 12:00 - 20:00
			a(class='btns standart text', href='#') купить билет 
			a.history 
				|ИСТОРИЯ <br>
				|МОСКОВСКОЙ <br>
				|ТАТУ КОНВЕНЦИИ <br>