- var formFields = []
- formFields.push({label: "Название организации,студии, мастера", width: 2})
- formFields.push({label: "Контактный телефон", width: 2})
- formFields.push({label: "Сайт, ссылки на социальные сети (IG, FB, ВК)", width: 1})
- formFields.push({label: "Контактное лицо, E-mail", width: 2})
- formFields.push({label: "Специализация (татуировка, торговля, другое)", width: 2})

- var actions = []
- actions.push({href:"#", text:"отель для участников и посетителей"})
- actions.push({href:"#", text:"скачать правила участия"})

section.request.full
	.bg.paralax
		img(src='/images/preload/request-bg.jpg')
		.fade
	.container
		h1.bg-white Заявка на участие
		+form(formFields, actions)


