section.request{
	// min-height: 100vh;
	.container{
		padding: 60px 0px 40px;
	}
	h1.bg-white{
		display: inline-block;
		font-weight: 100;
		font-size: 36px;
		letter-spacing: 2px;
		padding: 0px 15px
	}
	form{
		.fields{
			@include clearfix;
			margin-top: 50px;
			margin-bottom: 40px;
		}
		.actions{
			color: $white;
			@include clearfix;
			.left,.right{
				@extend .float-left;
				width: 50%;
			}
			.right{
				@include clearfix;
			}
			.action{
				@extend .float-left;
				color: $white;
				display: inline-block;
				width: 50%;
				font-size: 17px;
				line-height: 20px;
				padding: 10px;
				box-sizing: border-box;
				&:nth-child(2n){
					text-align: right;
					padding-right: 0px;
				}
				&:hover{
					color: $select;
				}
			}
		}
	}
	.input-field{
		@extend .float-left;
		box-sizing: border-box;
		height: 100px;
		&.w1{
			width: 100%;
		}
		&.w2{
			width: 50%;
			padding-right: 5px;
			&+.w2{
				padding-right: 0px;
				padding-left: 5px;
			}
		}
		label{
			text-transform: uppercase;
			color: $white;
			font-size: 14px;
			letter-spacing: 1px;
			line-height: 14px;
			display: block;
			&:after{
				content: ':'
			}
		}
		input{
			border: none;

			box-sizing: border-box;
			font-size: 18px;
			padding: 15px 15px;
			margin-top: 10px;
			width: 100%;
		}
	}
}