section.footer.full
	.container
		.column
			h1(class="bg-white") Контакты
			p
				|Если у Вас возникли вопросы о Международной Московской Тату Конвенции, просто отправьте нам письмо.
		.column
			p
				|ОРГ. КОМИТЕТ:
				br
				|Марина Кожевина, куратор мероприятия
				br
				|т.: +7 (968) 8908 111
			p
				|ПРИ ПОДДЕРЖКЕ 
				br 
				|Тату студия 
				a(href="#") «Ангел»
				br
				|Студия татуировки  
				a(href="#") «Mad Fish Tattoo»

		.column
			+socialNets(1,1,1)
			p
				|АДРЕС:
				br
				|107014, Москва,
				br
				|5-й Лучевой просек,
				br
				|дом 7, строение 1
			p
				a(href="#") Карта проезда