// $column_width: ($container_width - $container_paddin * 2) / 3;
$paddin_column: 40px;
section.footer{
	@include respond-to(phone) {
		.container.re{
			.column{
				width: 100%;
				float: initial;
				padding-top: 0;
				margin-left: 0;
			}
			h1{
				position: relative;
			}
			.nets{
				right: 0;
			}
		}
	}
	background: $black;
	color: $white;
	.container{
		@include clearfix;
		padding-top: 85px;
	}
	.column{
		@extend .float-left;
		position: relative;
		padding-top: 115px;
		display: block;
		&:nth-child(1){
			width: 320px;
		}
		&:nth-child(2){
			width: 330px;
			margin-left: 50px;
		}
		h1{
			position: absolute;
			top:0;
		}
		p{
			font-size: 15px;
			line-height: 22px;
			padding-bottom: 20px;
		}
		.nets{
			position: absolute;
			top:0;
		}
	}
}