section.programm{
	min-height: 100vh;
	.container{
		padding-top: 70px;
		padding-bottom: 160px;
	}
	.left{
		position: relative;
		left: 50%;
		width: 50%;
	}
	.programm{
		color: $white;
		margin-top: 20px;
		.day{
			h1.day{
				margin-bottom: 10px;
				margin-top: 25px;
				font-size: 40px;
			}
		}
		ul{
			padding-top: 0px;
			font-weight: 100;
			font-size: $font-size-p;
			line-height: $font-size-p * 1.4;
			li{
				&:before{
					content: "- ";
				}
			}
		}
	}
}