- var programms = [];
- programms.push({date: '27 мая', pos:['выступление музыкальных групп и диджеев','мастер-классы от тату-мастеров для посетителей','арт-фьюжн  от тату-художников','pole-dance','выставка мотоциклов и кастомных машин']})
- programms.push({date: '28 мая', pos:['выступление музыкальных групп и диджеев','мастер-классы от тату-мастеров для посетителей','арт-фьюжн  от тату-художников','pole-dance','выставка мотоциклов и кастомных машин']})
- programms.push({date: '29 мая', pos:['выступление музыкальных групп и диджеев','мастер-классы от тату-мастеров для посетителей','арт-фьюжн  от тату-художников','pole-dance','выставка мотоциклов и кастомных машин']})

section.programm.full
	.bg
		img(src='/images/preload/programm-bg.jpg')
		img(class='man' src='/images/programm-bg-man.png')
		.fade.active
	.container.re
		.left
			h1(class="bg-white") Программа
			.programm
				each day in programms
					.day
						h1(class="day") #{day.date}
						ul
							each p in day.pos
								li #{p}