doctype html
html(lang="en")
	head
		include ./head.jade
	body
		include ./sections/top-bar/top-bar.jade
		include ./sections/main-baner/main-baner.jade
		include ./sections/description/description.jade
		include ./sections/participants/participants.jade
		include ./sections/request/request.jade 