doctype html
html(lang="en")
	head
		include ./head.jade
	body
		include ./mixins/form/form.jade
		include ./mixins/social-nets/social-nets.jade
		include ../images/all.svg
		include ./sections/top-bar/top-bar.jade
		//- include ./sections/main-baner/main-baner.jade
		//- include ./sections/description/description.jade
		//- include ./sections/participants/participants.jade
		//- include ./sections/request/request.jade 
		//- include ./sections/programm/programm.jade
		//- include ./sections/statistics/statistics.jade
		//- include ./sections/partners/partners.jade
		//- include ./sections/media/media.jade
		//- include ./sections/footer/footer.jade

		include ./scripts.jade