doctype html
html(lang="en")
	head
		include ./head.jade
	body
		include ./mixins/form/form.jade
		include ./mixins/social-nets/social-nets.jade
		include ../images/all.svg
		include ./sections/top-bar/top-bar.jade
		include ./sections/participation-page/participation-page.jade 

		include ./scripts.jade