section.statistics.full
	img(class="mans" src="/images/statistic-mans.jpg")
	.container
		h1(class="bg-black-span")
			span конфенция
			br
			span в цифрах
		.columns
			.col.n1
				.fact.n1 
					p
						|более
						span 10
							span 000
				p.comment
					|посетителей за 3<br>дня мероприятия
				.fact.n5
					p 8
				p.comment.n5
					|успешно проведенных тату конвенций
			.col.n2
				.fact.n2
					p
						|3 500 м
						span &#178;
				p.comment
					|выставочной площади
				.row
					.col.n3
						.fact.n3
							p
								|300
						p.comment
							|тату мастеров и суплаеров
					.col.n3
						.fact.n3
							p
								|200
						p.comment
							|стендов
				.fact.n4
					p
						|10 лет
				p.comment.n4
					|непрерывной работы и ценного опыта




