h1 {
	font-size: $font-size-h1;
	text-transform: uppercase;
	line-height: $font-size-h1 * 1.2;
	margin-bottom: 20px;
	margin-top: 20px;
	&:first-child{
		margin-top: 0;
	}
	&.bg-white,.bg-black,.bg-black-span{
		display: inline-block;
		font-weight: 100;
		font-size: 36px;
		letter-spacing: 2px;
		padding: 0px 15px
	}
	&.bg-white{
		color: $black;
		background: $white;
	}
	&.bg-black{
		color: $white;
		background: $black;
	}
	&.bg-black-span{
		span{
			color: $white;
			background: $black;
			display: block;
		}
		display: inline-block;
		font-size: 35px;
		font-weight: 100;
		letter-spacing: 2px;
		span{
			display: inline-block;
			margin-top: 5px;
			padding: 0 15px
		}
	}
}
p {
	font-size: $font-size-p;
	line-height: $font-size-p * 1.4;
	font-weight: 300;
	&.upper-title{
		font-size: $font-size-h1 / 2.5;
		text-transform: uppercase;
	}
}
a{
	color: $select;
	text-decoration: none;
}