$container_width: 1015px;
$container_paddin: 30px;
$participants_width: 960px;
$participants_people_width: $participants_width / 4;

$font-size: 13px;
$font-size-p: 14px;
$font-size-h1: 45px;

$z-topbar: 100;
$z-section: 10;