section.top-bar{
	@include clearfix;
	background: $top-bar-bg;
	min-height: 75px;
	z-index: $z-topbar;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 120;
	@include respond-to(phone) {
		display: none;
		// width: $screen-phone;
	}
	@include respond-to(tablet) {
		display: none;
	}
	@include respond-to(md-min) {
		overflow: hidden;

		div.container{
			width: 100%;
			.menu{
				a{
					font-size: $font-size*0.8;
					margin: 10px 5px;
				}
			}
			.right-ls{
				right: 10px;
			} 
		}
	}
	.container{
		padding: 0;
		width: $container_width;
		@include respond-to(phone) {
			width: $screen-phone;
		}

	}
	.logo{
		@extend .float-left;
		padding-top: 16px;

		svg{
			width: 100px;
			margin-left: 40px;
			margin-right: -50px;
		}
	}
	.menu{
		@extend .float-left;
		font-size: $font-size;
		line-height: $font-size * 1.2;
		margin-left: 100px;
		a{
			color: $white;
			font-weight: lighter;
			text-decoration: none;
			display: inline-block;
			margin: 10px 15px;
			padding: 20px 10px;
			&.active{
				color: $select;
			}
			@include in_line;
		}
	}
	.right-ls{
		position: absolute;
		text-align: right; 
		right: 0;
		top: 0;
		.lang{
			margin-top: 5px;
			a{
				color: $gray;
				font-size: 12px;
				line-height: 14px;
				text-decoration: none;
				&.active{
					color: $white;
				}
				&:after{
					display: inline-block;
					content: "|";
					padding: 0 4px;
					color: $gray;
				}
				&:last-child{
					&:after{
						display: none;
					}
				}
			}
		}
		.nets{
			margin-top: 3px;
			.btns{
				@include in_line;
			}
		} 
	}
}